.nav-link:hover {
    color: #ffffff;
    background-color: #008cff;
    border-radius: 3px;
}

.col-md-8{
    width: 100%;
    /* min-height:681px; */
}

main{
    margin-bottom: 90px;
}

#results-table th, #results-table td {
  width: 50%;
}

@media print {
    body * {
      visibility: hidden;
    }
    .container, .container * {
      visibility: visible;
    }
    .container {
      position: absolute;
      left: 0;
      top: 0;
    }
    h1 {
      display: none; /* Masquer le titre */
    }
    a {
      display: none; /* Masquer les liens */
    }
    title {
      display: none; /* Masquer la balise title */
    }
    p {
      display: none; /* Masquer le paragraphe avec le copyright */
    }
  
}